* {
  margin: 0 auto;
  align-items: center;
}

Header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  background-color: #2b6777;
  color: #ffffff;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

h1 {
  padding: 40px 0 20px 0;
}

header p {
  text-decoration: underline white;
  padding: 10px 0 30px 0;
}

main {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 60%;
  background-color: #c8d8e4;
  border-radius: 5px;
}
.card-container {
  max-width: 80%;
  height: auto;
  background-color: #ffffff;
  color: #1e454e;
  padding: 10px;
  border: 1px gray solid;
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  align-items: left;
}

.search-el {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0 30px 0;
}

input {
  width: 60%;
  height: 30px;
}

h2 {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 2px 0;
}

.second-products {
  font-weight: 550;
  flex: 0 0 45%;
}

.first-personal {
  padding: 5px;
  text-align: left;
  flex: 0 0 45%;
  border-right: solid rgb(194, 192, 192) 1px;
}

.list-products-ele {
  padding-top: 20px;
  font-weight: 500;
}
